<a href="{{ '/index }}">
	<h2 class="header-link">首页</h2>
</a>
<a href="{{ '/archive' }}">
	<h2 class="header-link">归档</h2>
</a>
<a href="{{ '/category/invest' }}">
	<h2 class="header-link">投资</h2>
</a>
<a href="{{ '/category/novel' }}">
	<h2 class="header-link">小说</h2>
</a>
<a href="{{ '/category/program' }}">
	<h2 class="header-link">编程</h2>
</a>
<a href="{{ '/category/project' }}">
	<h2 class="header-link">项目</h2>
</a>
<a href="{{ '/category/comment' }}">
	<h2 class="header-link">解说</h2>
</a>
<a href="{{ '/category/doc' }}">
	<h2 class="header-link">文档</h2>
</a>
<a href="{{ '/category/tool' }}">
	<h2 class="header-link">工具</h2>
</a>
<a href="{{ '/rss.xml' }}">
	<h2 class="header-link">RSS</h2>
</a>