<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}">
	<h2 class="header-link">Archive</h2>
</a>
<a href="{{ "/tool" | prepend: site.baseurl | replace: '//', '/' }}">
	<h2 class="header-link">Tool</h2>
</a>
<a href="{{ "/project" | prepend: site.baseurl | replace: '//', '/' }}">
	<h2 class="header-link">Project</h2>
</a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">
	<h2 class="header-link">About</h2>
</a>
<a href="{{ "/rss.xml" | prepend: site.baseurl | replace: '//', '/' }}">
	<h2 class="header-link">RSS</h2>
</a>